$color-gray-1: #A1A1A1;
$color-gray-2: #555;
$color-gray-3: #888;
$color-white: #FFF;
$black: #000;
$grey: rgb(196, 196, 196);
$color-orange: #F6EB18; 

.pickupPackContainer {
    padding-top: 15%;
    color: #FFF;
    background-image: url(./pickup-pack.png?v=2.0.0);
    background-color: #7a7a7a;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.pickupPack {
    height: auto;
    padding-bottom: 15%;
}
.packBox {
    text-align: center;
    border: 1px solid #777777;
    border-radius: 50%;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    backdrop-filter: saturate(180%) blur(10px);
    transition: .15s ease-in-out;
}
.packBox:hover {
    cursor: pointer;
    color: $black;
    background-color: $color-orange;
    border-color: $color-orange;
    transform: scale(1.15);
}
.packBox:active { transform: scale(1.05); }
.packTitle {
    padding-bottom: 7.5%;
    text-align: center;
}
.packContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.packContentBottom {
    position: relative;
    bottom: 0pt;
}
.packContentBottom p {
    text-align: center;
    font-size: 12pt;
    font-weight: 500;
}
.packContentBottom span { 
    opacity: .5;
    font-size: 8pt;
}
.packpackContentBottom p[data-type='price'] {
    color: #777777;
}
.packContentBottom[data-type='expiration'] p {
    text-align: center;
    font-size: 8pt;
    opacity: 0.5;
    bottom: 15pt;
}

@media screen and (max-width: 66rem) {
    .pickupPack { 
        padding-top: 5% !important;
        padding: 25%;
    }

    .packContent h4 { 
        font-size: 16pt; 
        line-height: 16pt;
    }
    .packContent h5 { font-size: 10pt; }
    .pickupPackContainer { background-size: 115%; }
}
@media screen and (max-width: 42rem) {
    .pickupPackContainer { 
        padding-top: 45%;
        background-size: 115%;
        background-image: url(./pickup-pack.png);
        background-position: top center;
    }
    .pickupPack { 
        padding: 25%; 
        padding-top: 15%;
    }
    .packContent h4 { 
        line-height: 12pt;
    }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .pickupPack  {
        padding-left: 35%;
        padding-right: 35%;
    }
}