.signupBackground {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #FFF;
}
.userRow, .trainerRow {
    position: relative;
    display: inline-block;
    padding-left: 10pt;
    padding: 10pt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.userRow p,  .trainerRow p { float: left; }
.overflowMenu {
    position: absolute;
    right: 10pt;
    bottom: 7pt
}
.addButton {
    position: relative;
    right: 10pt;
}
.instructorsLink {
    cursor: pointer;
    color: #FFF;
    width: 100%;
    transition: .2s ease-in-out;
}
.instructorsLink:hover {
    transform: translateX(15px);
}

.button-delete{
 background-color: crimson;
 color: white;
}

.button-delete:hover{
    background-color: red;
    color: white;
}
