@import './components/NavigationBar/NavigationBar.scss';
@import './content/Home/Home.scss';
@import './content/Profile/Profile.scss';
@import './content/Signup/Signup.scss';

html, body { 
    background-color: #7A7A7A; 
}
.alignBottom {
    position: absolute;
    bottom: 50pt;
    right: 0;
    left: 0;
}
.alignBottom[data-type='sideBar'] { bottom: 55pt; }
.alignBottom[data-type='privacyPolicy'] { bottom: 35pt; }
.paddingTitle, .paddingButton { 
    padding-top: 50pt;
    padding-bottom: 50pt;
 }
.centerTitle { text-align: center; }
.centerTitle[data-type='packs'] { padding-bottom: 50pt; }
a { text-decoration: none; }
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
.react-responsive-modal-modal { 
    width: 330px;
    border-radius: 15pt; 
    padding-top: 3rem !important;
}
.react-responsive-modal-overlay {
    background: rgba(25, 25, 25, 0.75) !important;
}
.bx--content { 
    padding: 0; 
    min-height: 100vh !important;
    background-color: #7A7A7A; 
}
.bx--btn { 
    font-size: 1rem;
    padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 22px; 
}
.bx--btn--primary { 
    font-weight: 600;
    border: none;
    border-radius: 24pt;
    background-color: #F6EB18; 
    color: #000;
    transition: .15s ease-in-out;
}
.bx--btn--primary:hover { 
    transform: scale(1.15); 
    -webkit-transform: scale(1.15); 
}
.bx--btn--secondary {
    font-weight: 600;
    border: none;
    border-radius: 24pt;
    transition: .15s ease-in-out;
}
.bx--btn--secondary:hover {
    background-color: #222;
}
.bx--dropdown { border-radius: 4pt; }
.bx--list-box__field:focus { outline: unset; }
.bx--text-input, .bx--text-area, .bx--file__drop-container, .bx--file__selected-file { 
    border-radius: 4pt;
    outline: none;
 }
.bx--text-input:focus, .bx--text-input:active, .bx--text-area:focus, .bx--text-area:active { 
    outline: none; 
    border-left: 2pt solid #00cc00;
}
.bx--btn--primary:focus, 
.bx--btn--secondary:focus,
.bx--btn--primary:active,
.bx--btn--secondary:active
{
    border: none;
    box-shadow: none;
}
.bx--slider { 
    min-width: 9.5rem;
}
.bx--tabs { margin-top: 20pt; } 
.bx--tabs-trigger { background-color: #777777; }
.bx--tabs-trigger-text { color: #FFF; }
a.bx--tabs__nav-link { color: #bebebe }
a.bx--tabs__nav-link:focus, a.bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:focus, .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
    color: #FFF;
    background-color: #39393999;
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
}

.bx--overflow-menu__icon {
    fill: #fff;
}
.bx--overflow-menu.bx--overflow-menu--open {
    background-color: #929292;
}

.Toastify__toast--default {
    font-size: 9pt;
    line-height: 12pt;
    cursor: grab !important;
    padding-left: 36pt !important;
    color: #FFF !important;
    border-radius: 8pt !important;
    box-shadow: unset !important;
    background-image: url(logo.png) !important;
    background-color: rgba(25,25,25, 0.80) !important;
    backdrop-filter: saturate(180%) blur(5pt);
    background-repeat: no-repeat !important;
    background-position: 12pt center !important;
    background-size: 16pt !important;
}
.Toastify__toast--default:focus { cursor: grab; } 
.Toastify__close-button--default { 
    color: #777777 !important; 
    opacity: 1 !important;
}
.Toastify__progress-bar--default {
    background: #F6EB18 !important;
}

.dashBoard {
    min-height: 100vh;
    color: #FFF;
    background-image: url(logo.png);
    background-position: 150% 10%;
    background-size: 70%;
    background-repeat: no-repeat;
    z-index: 1;
  }
.dashBoard[data-type='home'] {
    padding-top: 20%;
    text-align: center;
  }

@media screen and (max-width: 42rem) and (orientation:portrait)  {
    .bx--tabs { margin-top: 55pt; } 
    .Toastify__toast-container { 
        width: 90% !important; 
        margin: 5% !important;
    }
}