$color-gray-1: #A1A1A1;
$color-gray-2: #555;
$color-gray-3: #888;
$color-white: #FFF;
$black: #000;
$grey: rgb(196, 196, 196);
$color-orange: #F6EB18;

.calendarContainer {
    overflow-x: auto;
    white-space: nowrap;
    height: auto;
    padding-top: 10%;
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFF;
}

.Box {
    border: 1px solid #777777;
    border-radius: 14pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    backdrop-filter: saturate(180%) blur(10px);
    transition: .15s ease-in-out;
}
.Box:hover {
    cursor: pointer;
    color: $black;
    background-color: $color-orange;
    border-color: $color-orange;
    transform: scale(1.05);
}
.BoxContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.BoxContentBottom {
    position: absolute;
    bottom: 12pt;
}
.BoxContentBottom p {
    text-align: center;
    font-size: 8pt;
}
.calendarHeader {
    padding-top: 25pt;
    background-color: #555655;
}
.calendarTitle {
    position: relative;
    z-index: 100;
}
.calendarTitle h1 {
    color: #FFF;
    padding-left: 0;
    padding-bottom: 20pt;
    font-weight: 600;
}
.calendarNavigation button { background-color: #555655; }
.bx--btn .bx--btn__icon[data-type='left'] {
    right: 0;
}

.calendarScrolling {
    padding-top: 15pt;
    padding-left: 25pt;
    position: relative; 
}
.calendarDay { 
    padding-bottom: 10pt; 
    font-weight: 600;
}
.calendarDay span { font-weight: 300; }
.calendarTime {
    margin-bottom: 25pt;
    color: gray;
}
.calendarTime h5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bx--col-calendar {
    flex: 1 0 12.5%;
    max-width: 50%;
}


.centered{
    position: absolute;
    left: 42%;
}

.bx--list-box.bx--list-box--inline .bx--list-box__field{
    padding: 0 2rem 0 1rem;
    color: #FFF;
    min-width: 147px;
    border-radius: 24pt;
    border: none;
    background-color: #393939;
  }


  .bx--list-box--inline .bx--list-box__label{
      color: white;
      font-weight: 600;
      border: none;
     // transition: .15s ease-in-out;
      //font-size: 1rem;
     // padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 22px;
  }

  .bx--list-box__menu-icon > svg {
    fill: white;
    height: 100%;
    font-weight: 600;
}
.bx--list-box.bx--list-box--inline, .bx--list-box.bx--list-box--inline .bx--list-box__field {
    height: 2.5rem;
}

.bx--dropdown {
    border-radius: 24pt;
}

.bx--list-box__field:focus {
    outline: 0px solid transparent;
    outline-offset: -2px;
}

  .bx--list-box__menu-item .bx--list-box__menu-item--active .bx--list-box__menu-item--highlighted{
    background-color: #222;
    position: absolute;
  }
  
  .bx--list-box__menu-item--highlighted .bx--list-box__menu-item__option {
    color: #808080;
}
  .bx--list-box__menu-item{
    background-color: #222;
    
  }

.bx--list-box__menu-item__option{
    color: #808080;
}

.bx--list-box__menu-item--active .bx--list-box__menu-item__option {
    color: white;
}

.align-right{
    float: right;
    padding-top: .5rem;
}

@media screen and (max-width: 66rem) {
    .calendarControlArea { width: 100vw; }
    .calendarContainer {
        padding-top: 20%;
        width: 175%;
    }
    .align-right{
        float: left;
        padding-top: 2rem;
    }
}
@media screen and (max-width: 42rem) {
    .calendarControlArea { width: 100vw; }
    .calendarContainer { 
        padding-top: 30%;
        width: 300%; 
    }
    .align-right{
        float: left;
        padding-top: 2rem;
    }
}
