$color-gray: #A1A1A1;
$color-white: #FFF;
$color-orange: #F6EB18;

.burguerMenu {
    position: absolute;
    color: $color-white;
    height: 32px;
    width: 32px;
    top: 31pt;
    left: 32pt;
    fill: currentColor;
    background-image: url(menu.svg);
    background-position: center left;
    background-size: 32px;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
   -webkit-transition: all .15s ease-in-out;
   z-index: 999;
}
.burguerMenu:hover { 
    cursor: pointer; 
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.SidebarLogo {
    margin-left: 25pt;
    margin-right: 50pt;
    margin-bottom: 25pt;
    max-width: 100pt;
    transition: .15s ease-in-out;
   -webkit-transition: .15s ease-in-out;
}
.Sidebar li {
    padding-left: 15pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 50pt;
    font-size: 16pt;
    transition: .15s ease-in-out;
   -webkit-transition: .15s ease-in-out;
}
.SidebarContainer ul {
    position: relative;
    height: 100vh;
}l
.SidebarLoginControl {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.Sidebar a {
    text-decoration: none;
    color: $color-white;
}
.Sidebar a:hover, .Sidebar li:hover, .sidebarLogo:hover {
    color: $color-gray;
    transform: translate(14pt);
}
.Sidebar li::before {
    content: "\2022  ";
    color: $color-orange;
    opacity: 0;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
  }

.Sidebar li:hover::before {
    content: "\2022  ";
    color: $color-orange;
    opacity: 1;
}

@media screen and (max-width: 640px) {
    .burguerMenu { 
        top: 20pt;
        left: 15pt;
     }
     .SidebarLogo {
        margin-left: 20pt;
        margin-right: 30pt;
        max-width: 50pt;
     }
     .Sidebar li {
        font-size: 14pt;
     }
}

@media screen and (max-width: 736px) and (orientation:landscape) {
    .SidebarLogo {
        margin-left: 15pt;
        margin-right: 30pt;
        max-width: 50pt;
     }
     .Sidebar li {
        padding: 8pt;
        padding-top: 5pt;
        padding-left: 15pt;
        font-size: 12pt;
     }
}
