.logo {
    position: absolute;
    max-width: 50pt;
    top: 25pt;
    left: 70pt;
    z-index: 999;
}
.logIn {
    position: absolute;
    color: #FFF;
    top: 35pt;
    right: 35pt;
    font-weight: 600;
    z-index: 9999;
} 

.userName {
    position: relative;
    color: #FFF;
    top: 35pt;  
    right: 5pt;
    float: left;
    font-weight: 600;
} 

.menu {
    position: relative;
    color: white;
    top: 29pt;
    right: 0pt;
    font-weight: 600;
    z-index: 9999;
} 
.sessionControl {
    position: absolute;
    right: 30pt;
    z-index: 9999;
}
.bx--overflow-menu__icon {
    fill: white;
}

.bx--overflow-menu.bx--overflow-menu--open, .bx--overflow-menu.bx--overflow-menu--open .bx--overflow-menu__trigger {
    background: transparentize(#000, 1);    
    transition: none;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.bx--overflow-menu-options__btn {
    background: gray;
    color: white;
}


.bx--overflow-menu-options__btn :hover{
    color: white;
}

.bx--overflow-menu-options::after {
    background: transparentize(#000, 1);  
}


@media screen and (max-width: 42rem) {
    .logo { 
        max-width: 40pt; 
        top: 14pt;
        left: 50pt;
    }
    .logIn {
        top: 26pt;
        right: 15pt;
        font-size: 10pt;
    }
    .userName {
        font-size: 9pt;
        top: 26pt;
    }
    .menu { top: 19pt; }
    .sessionControl { right: 15pt; }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .logo {
        max-width: 40pt;
        top: 14pt;
    }
}