.bx--file--label { color: #FFF; }
.formStyle[data-type='AddInstructor'] {
    height: 110vh;
}
.bx--file__container {
    position: relative;
    z-index: 9;
}
.bx--label-description {
    color: rgba(255, 255, 255, 0.25);
}
.bx--file__selected-file {
    background-color: #333;
}
.bx--btn ~ .bx--file-container {
    margin-bottom: 1rem;
}
.bx--file__state-container .bx--file-close {
    fill: #777;
}

.instructorAvatar {
    max-width: 50%;
    object-fit: cover;
    border-radius:50%;
    padding-top: 10%;
    padding-bottom: 10%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: relative;
    transform: translate(-50%, 0%) 
  }

