$color-white: #FFF;
$color-gray: #A1A1A1;
$color-black: #000;
$color-facebook: #1F3E8E;

.formStyle {
    height: auto;
    padding-top: 10%;
    color: $color-white;
}
.formStyle label { color: $color-gray; }
.formStyle input { margin-bottom: 10pt; }
.formTitles { margin-bottom: 15pt; }
.formTitles[data-type='credit-card'] { padding-top: 15%; }
.buttonAccess {
    width: 100%;
    height: 30pt;
    max-width: 100%;
    padding: 10pt;
    padding-top: 9pt;
    margin-bottom: 10pt;
    font-weight: 600;
    text-align: center;
    display: inline-block;
}
.textInput:active { border-radius: 4pt; }
.buttonFacebook button {
    padding: 10pt;
    width: 50%;
    height: 30pt;
    background-color: $color-facebook;
    background-image: url(./icon-facebook.png);
    background-size:8pt;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 4pt;
    border-bottom-left-radius: 4pt;
    border-top-right-radius: 0pt;
    border-bottom-right-radius: 0pt;
    border: none;
}
.buttonGoogle button {
    padding: 10pt;
    width: 50%;
    height: 30pt;
    color: $color-black;
    background-color: $color-white;
    background-image: url(./icon-google.png);
    background-size: 18pt;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
    border-top-left-radius: 0pt;
    border-bottom-left-radius: 0pt;
    border: none;
    float: right;
}
.forgotPass {
    position: relative;
    color: $color-white;
    font-weight: 500;
    margin-top: 25pt;
    z-index: 1;
    float: left;
}
.privacyPolicy, .privacyPolicy a { 
    font-size: 8pt;
    color: $color-gray; 
    text-align: center;
    line-height: 12pt;
}
.privacyPolicy a { padding: 3pt; color: $color-white; }

@media screen and (max-width: 66rem)  { 
    .formStyle { padding-top: 12.5%; }
}

@media screen and (max-width: 42rem)  {
    .formStyle {
        height: 115vh;
        padding-top: 35%;
        color: $color-white;
        background-image: unset;
    }
    .formTitles { 
        margin-bottom: 10pt; 
        font-size: 15pt;
    }
    .forgotPass {
        margin-top: 0pt;
        font-size: 9pt;
    }
}

@media screen and (max-width: 66rem) and (orientation:landscape) {
    .formStyle {
        height: auto;
        padding-top: 25%;
        padding-bottom: 25%;
    }
}