
.packBox {
    border: 1px solid #777777;
    border-radius: 15pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    backdrop-filter: saturate(180%) blur(10px);
    transition: .15s ease-in-out;
}
.packBox:hover {
    cursor: pointer;
    color: #000;
    background-color: #F6EB18;
    border-color: #F6EB18;
    transform: scale(1.05);
}
.packContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}
.packContentBottom {
    position: absolute;
    bottom: 15pt;

}
.packContentBottom p {
    text-align: center;
    font-size: 10pt;
}
.packContentBottom[data-type='expiration'] p {
    text-align: center;
    font-size: 8pt;
    opacity: 0.5;
}
.packBox[data-type='profile'] {
    margin-top: 20pt;
    border: 1px solid #FFF;
    border-radius: 10pt;
}
.BoxIcon {
    fill: #FFF;
}

@media screen and (max-width: 66rem)  { 
    .dashBoard { 
        height: 115vh;
        padding-top: 15%;
    }
    .profileContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 42rem) {
    .dashBoard { 
        height: auto;
        padding-top: 35%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .profileContainer {
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .dashBoard { 
        height: 200vh; 
        padding-top: 20%;
        background-size: 200%;
    }
    .profileContainer {
        padding-left: 35%;
        padding-right: 35%;
    }
}