.heroHome {
    height: 100vh;
    padding: 5%;
    color: #FFF;
    background-image: url(hero.png);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}
.heroHeadline { 
    position: relative;
    height: 100vh;
}
.aboutHome {
    position: relative;
    height: auto;
    padding: 5%;
    padding-top: 15%;
    padding-right: 15%;
    padding-bottom: 0%;
    background-color: #7A7A7A;
    color: #FFF;
}
.aboutHome p, .aboutHome h1 { padding-right: 45%; }
.imgRooeda {
    max-width: 70%;
    float: right;
}
.spotifyButton {
    position: absolute;
    bottom: 10%;
    padding: 10px;
    padding-left: 35px;
    font-weight: 500;
    font-size: 12pt;
    color: #FFF;
    background-image: url(icon-spotify.svg);
    background-position: center left;
    background-size: 24px;
    background-repeat: no-repeat;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.spotifyButton:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.spotifyIcon {
    position: absolute;
    top: 12px;
    margin-left: 5px;
    fill:#FFF;
}
.socialNetworks { 
    position: relative;
    top: 15pt;
    left: -10pt;
}
.socialNetworks[data-type='heroHome'] { 
    position: relative;
    margin-top: 2.5%;
    top: 10pt;
    left: 10pt;
    float: right;
}
.socialNetworks ul {
    list-style-type: none;
    display: inline;
}
.socialNetworks li {
     margin-left: 10pt;
     float: left;
     opacity: 0.5;
    -webkit-transition: all .15s;
     transition: all .15s;
}
.socialNetworks li:hover {
    opacity: 1;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

@media screen and (max-width: 66rem) {
    .heroHome { background-size: 100%; background-position: top;}
    .aboutHome { 
        padding-right: 5%;
        padding-top: 25%;
    }
    .aboutHome p, .aboutHome h1 { padding-right: 0%; }
    .spotifyButton { display: none; }
}
@media screen and (max-width: 66rem) and (orientation:portrait) {

}
@media screen and (max-width: 66rem) and (orientation:landscape) {
    .aboutHome { 
        padding-top: 15%; 
    }
}

@media screen and (max-width: 42rem) {
    .heroHome { background-size: 100%; background-position: top;}
    .heroHeadline { padding-top: 80%; }
    .socialNetworks[data-type='heroHome'] {
        top: 0pt;
        left: 0pt;
    }
}
@media screen and (max-width: 66rem) and (orientation:portrait) {

}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .heroHeadline { padding-top: 15%; }
    .aboutHome { 
        padding-top: 15%;
    }
}

@media screen and (max-width: 20rem) {
}