.pickupBike{
  height: 100vh;
  padding-top: 15%;
  color: #FFF;
  text-align: center;
  background-image: url(pickup-bike.png);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}
  input[type=checkbox] {
    visibility: hidden;
  }
  
  .studioContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }
  
  .studio {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 300px;
    height: 110px;
  }
  
  .studioRow {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
  }
  
  .section {
    display: -webkit-box;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .tr { 
    border: 1px white solid;
    opacity: 0.25;
    
  }
  .tr:hover {
    cursor: not-allowed;
    transform: scale(1.0) !important;
  }
  .bike {
    width: 30pt;
    height: 30pt;
    color: white;
    font-size: 10;
    text-align: center;
    margin: 0px 20px;
    position: relative;
    border-radius: 50pt;
  }
  .bike p {
    position: relative;
    margin-top: 10pt;
    color: #FFF;
    opacity: 1;
    font-weight: 500;
    font-size: 12pt;
    z-index: 2;
  }

  .bike label {
    cursor: pointer;
    position: absolute;
    width: 40pt;
    height: 40pt;
    left: 5px;
    top: 5px;
    background: #585858;
    border-radius: 5pt;
  }

  .bike label:after  {
    opacity: 0;
    content: '';
    position: absolute;
    width: 40pt;
    height: 40pt;
    color: #FFF;
    background: rgb(202, 202, 202);
    border-radius: 5pt;
    top: 0px;
    left: 0px;
    transition: .15s ease-in-out;
    z-index: 1;
  }

  .bike label:hover::after {
    filter: alpha(opacity=30);
    opacity: 1;
    transform: scale(1.15);
  }
 
  .bike label:active::after {
    opacity: 1;
    background: #000;
    transform: scale(1.15);
  }

  .bike input[type=checkbox]:checked + label:after {
    filter: alpha(opacity=100);
    background-color: #000;
    opacity: 1;
  }

  .buttonConfirm {
    margin-top: 5%;
  }

  .studioContainer{
    padding-bottom: 30px;
  }

  @media screen and (max-width: 42rem) {
    .pickupBike { 
      height: auto;
      padding-top: 50%; 
      background-image: unset;
    }
    .studio {
      width: 150px;
      height: 80px;
    }
    .bike {
      margin: 0px 0px;
    }
    .bike label {
      width: 22pt;
      height: 22pt;
    }
    .bike label:after {
      width: 22pt;
      height: 22pt;
    }
    .bike p {
      margin-top: 2pt;
      font-size: 8pt;
    }
    .studioContainer{
      padding-bottom: 0px;
    }
  }
  @media screen and (max-width: 42rem) and (orientation:landscape) {
    .pickupBike { padding-top: 12.5%; }
  }