.studioBox {
    height: auto;
    padding: 5%;
    color: #FFF;
    background-image: url(logo.png);
    background-position: 290% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
  }

.studioCopy {
    padding-top: 30%;
}
@media screen and (max-width: 66rem) { 
  .studioBox {
    height: auto; 
    padding-left: 0;
    padding-right: 0;
    padding-top: 15%;
    background-position: 290% 0%;
    padding-bottom: 35%;
  }
}